<form class="form-group" *ngIf="!validate">
<div class="panel panel-default">
  <div class="panel-heading head">Read Instructions Carefully!</div>
  <div class="panel-body" align="left">
    <span class="glyphicon glyphicon-hand-right">&nbsp;Do not use GOOGLE</span><br>
    <span class="glyphicon glyphicon-hand-right">&nbsp;All questions are Compulsory!</span><br>
    <span class="glyphicon glyphicon-hand-right">&nbsp;Do not open Mobile Devices</span><br>
    <span class="glyphicon glyphicon-hand-right">&nbsp;Do not open use Calculator</span><br>
    <span class="glyphicon glyphicon-hand-right">&nbsp;Do not open New Tab</span><br>
    <span class="glyphicon glyphicon-hand-right">&nbsp;There are negative marks for every incorrect marked answer </span>
  </div>
  <div class="panel-footer foot">
    <input type="checkbox" name="agree" id="agree" value="agree" (click)="valid();">&nbsp;I agree to the above instructions and will abide by these.
  </div>
</div>
</form>
<form class="form-group" *ngIf="validate">
  <div class="panel panel-default">
    <div class="panel-heading head">Questions</div>
    <div class="panel-body" align="left">
      {{selectedQuestion.ques}}
      <div *ngFor="let option of selectedQuestion.options">
      <input [type]="selectedQuestion.Type" [name]="selectedQuestion.sNo" [id]="option" [checked]="marked(option)" [value]="option" (click)="valueSelect(option,selectedQuestion.sNo,selectedQuestion.Type);">{{option}}
      </div>
      <div class="panel-footer footbutton">
      <input type="button" name="next" id="next" class="btn btn-primary" value="Next Question" (click)="nextQues();">
      <input type="button" name="submit" class="btn btn-danger" value="Submit" (click)="evaluate();">
      </div>
    </div>
    <div class="panel panel-footer" *ngIf="validate">
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <ul class="nav navbar-nav">
            <li><input type="button" class="navigate" (click)="nav(1);" value="1"></li>
            <li><input type="button" class="navigate" (click)="nav(2);" value="2"></li>
            <li><input type="button" class="navigate" (click)="nav(3);" value="3"></li>
            <li><input type="button" class="navigate" (click)="nav(4);" value="4"></li>
            <li><input type="button" class="navigate" (click)="nav(5);" value="5"></li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
</form>